.NewsAdmin .icon.icon-16.icon-newsadmin {
	background-image: url(../images/newspaper.png);
}

.cms-menu-list li a .icon.icon-16.icon-newsadmin {
	background-image: url(../images/newspaper.png);
}

.cms-content-header.north .icon.icon-16.icon-newsadmin {
	background-image: url(../images/newspaper.png);
}
